<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">{{ title }}</h2>
          <form (submit)="updateCareer()">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input
                [(ngModel)]="Careers.career_name"
                name="career_name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Siglas</label>
                  <input
                    [(ngModel)]="Careers.career_acronym"
                    name="career_acronym"
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Numero de Semestres</label>
                  <input
                    [(ngModel)]="Careers.career_duration"
                    name="career_duration"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-danger"
                onclick="window.history.back()"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
