<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center mb-4">
                  <img src="../../assets/img/logos/Logo GELABY.png" alt="" class="img-fluid" style="max-width: 200px">
                </div>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <div class="text-center mb-4">
                  <img src="../../assets/img/logos/Logo Yavirac.png" alt="" class="img-fluid" style="max-width: 200px">
                </div>
              </div>
            </div>
            <h2 class="text-center mb-4">Bienvenidos a GELABY</h2>
            <h5 class="text-center">"Gestión de Laboratorios Yavirac"</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
