<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="text-center mb-4">
              <img src="../../assets/img/logos/Logo GELABY.png" alt="" class="img-fluid" style="max-width: 150px">
            </div>
            <h2 class="text-center mb-4">{{title}}</h2>
            <form [formGroup]="formData" (ngSubmit)="Login(formData.value)">
              <div class="mb-3">
                <label class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Nombre de Usuario" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
              </div>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
            <div class="text-center mt-3">
              <a href="/register" class="text-decoration-none">¿No tienes una cuenta? Regístrate</a> | 
              <a href="/forgot-password" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>