<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">{{ title }}</h1>
          <div class="d-flex justify-content-between">
            <button
              type="button"
              routerLink="/subjects/create-subject"
              class="btn btn-outline-success mb-3"
            >
              Nueva Asignatura <span class="fas fa-plus"></span>
            </button>
            <button
              type="button"
              class="btn btn-outline-primary mb-3"
              (click)="exportToPDF()"
              title="Exportar a PDF"
            >
              <i class="fas fa-file-pdf"></i> Exportar
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Asignaturas</th>
                  <th>Creditos</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subject of subjects">
                  <td>{{ subject.subject_id }}</td>
                  <td>{{ subject.subject_name }}</td>
                  <td>{{ subject.subject_credits }}</td>
                  <td>
                    <button
                      type="button"
                      [routerLink]="[
                        '/subjects/edit-subject/',
                        subject.subject_id
                      ]"
                      class="btn btn-outline-primary"
                    >
                      <span class="fas fa-edit"></span></button
                    >&nbsp;
                    <button
                      type="button"
                      (click)="deleteSubject(subject.subject_id)"
                      class="btn btn-outline-danger"
                    >
                      <span class="fas fa-trash-alt"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
