<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">{{ title }}</h2>
          <form (submit)="createLaboratoryAssign()">
            <div class="mb-3">
              <label class="form-label">Fecha</label>
              <input
                [(ngModel)]="LaboratoriesAssign.lab_assign_date"
                value="{{ LaboratoriesAssign.lab_assign_date }}"
                name="lab_assign_date"
                type="date"
                class="form-control"
                placeholder="Fecha"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Laboratorio</label>
              <select
                [(ngModel)]="LaboratoriesAssign.laboratory"
                value="{{ LaboratoriesAssign.laboratory }}"
                name="laboratory"
                class="form-select"
              >
                <option disabled selected value="">
                  Seleccione el Laboratorio
                </option>
                <option
                  *ngFor="let laboratory of Laboratories"
                  [value]="laboratory.lab_id"
                >
                  {{ laboratory.lab_name }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Docente</label>
              <select
                [(ngModel)]="LaboratoriesAssign.teacher"
                value="{{ LaboratoriesAssign.teacher }}"
                name="teacher"
                class="form-select"
              >
                <option disabled selected value="">
                  Seleccione el Docente
                </option>
                <option
                  *ngFor="let teacher of Teachers"
                  [value]="teacher.teacher_id"
                >
                  {{
                    teacher.teacher_first_name + " " + teacher.teacher_last_name
                  }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Descripción</label>
              <textarea
                [(ngModel)]="LaboratoriesAssign.lab_assign_description"
                value="{{ LaboratoriesAssign.lab_assign_description }}"
                name="lab_status_notes"
                class="form-control"
                placeholder="Descripción"
                rows="3"
                required
              ></textarea>
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-danger"
                onclick="window.history.back()"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
