<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">{{title}}</h1>
          <div class="d-flex justify-content-between">
            <button
              type="button"
              routerLink="/teachers/create-teacher"
              class="btn btn-outline-success mb-3"
            >
              Nuevo docente <span class="fas fa-plus"></span>
            </button>
            <button
              type="button"
              class="btn btn-outline-primary mb-3"
              (click)="exportToPDF()"
              title="Exportar a PDF"
            >
              <i class="fas fa-file-pdf"></i> Exportar
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cédula</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Correo Institucional</th>
                  <th>Teléfono</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of Teachers">
                  <td>{{ teacher.teacher_identification }}</td>
                  <td>{{ teacher.teacher_first_name }}</td>
                  <td>{{ teacher.teacher_last_name }}</td>
                  <td>{{ teacher.teacher_institutional_email }}</td>
                  <td>{{ teacher.teacher_phone_number }}</td>
                  <td>
                    <button type="button" [routerLink]="['/teachers/edit-teacher/', teacher.teacher_id]" class="btn btn-outline-primary">
                      <span class="fas fa-edit"></span></button
                    >&nbsp;
                    <button type="button" (click)="deleteTeacher(teacher.teacher_id)" class="btn btn-outline-danger">
                      <span class="fas fa-trash-alt"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
