<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-4">{{ title }}</h2>
          <form (submit)="updateCourse()">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input
                [(ngModel)]="Course.course_name"
                name="course_name"
                type="text"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Número de Estudiantes</label>
                  <input
                    [(ngModel)]="Course.course_students"
                    name="course_students"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Duración (semestres)</label>
                  <input
                    [(ngModel)]="Course.course_duration"
                    name="course_duration"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Carrera</label>
                  <select [(ngModel)]="Course.career" name="career" class="form-select" [compareWith]="compareCareers">
                    <option disabled value="">Seleccione la Carrera</option>
                    <option *ngFor="let career of Careers" [ngValue]="career">{{ career.career_name }}</option>
                  </select>
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Paralelo</label>
                  <select
                    [(ngModel)]="Course.course_parallel"
                    name="course_parallel"
                    class="form-select"
                  >
                    <option disabled value="">Seleccione el paralelo</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Jornada</label>
                  <select
                    [(ngModel)]="Course.course_shift"
                    name="course_shift"
                    class="form-select"
                  >
                    <option disabled value="">Seleccione la jornada</option>
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                    <option value="Nocturno">Nocturno</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-danger"
                onclick="window.history.back()"
              >
                Cancelar
              </button>
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
